body {
background-color: royalBlue;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 10px;
  }
  
  .changeAvatar {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5 px;
    margin-top: 50px;
  
  }
  

  .changeAvatar:hover {
    text-decoration: none;
  }
.starStyles:{
      color:'orange'
    }
  html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.star {
  cursor: pointer;
  width: 2em;
  height: 2em;
  background-color: grey;
  -webkit-clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

.star.selected {
  background-color: red;
}

p {
  flex-basis: 100%;
  text-align: center;
}

h1 {
  color: white;
  flex-basis: 100%;
  text-align: center;
}